h1, h2, h3, h4, h5,h6 {
    color: #274690;
}

.example {
    h5 {
        font-weight: 600;
        font-size: 1.2rem;
    }
    background: #99A1A6;
    padding: .5rem; 
}

.note {
    color: #60B2E5
}